.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.item {
  color: #5747ff;
  font-size: 16px;
  font-style: italic;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: rgb(15, 13, 122);
    transform: scale(1.05);
  }
}
