.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: 10px;
  width: calc((100% - 20px * 6) / 7);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.name,
.character {
  text-align: center;
}
.character {
  font-weight: 700;
}
